body {
    font-family: sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

tbody tr td {
    border: 2px solid black;
    width: 60px;
    background: gold;
}

.table-bordered {
    width: 200px;
    border-collapse: collapse;
    height: 200px;
    text-align: center;
}

.table-active {
    background: green;
}